The object of this project is to find out what features is important to live a happy life. So we can focus on more important stuff. Also predict the happiness score and compare the result to discover which algorithm works better.

## IMPORTS

In [1]:
import pandas as pd
import numpy as np
import plotly
from bubbly.bubbly import bubbleplot

## Cleaning

In [2]:
data2017 = pd.read_csv('./world-happiness-report/2017.csv')
data2016 = pd.read_csv('./world-happiness-report/2016.csv')
data2015 = pd.read_csv('./world-happiness-report/2015.csv')

In [3]:
data2017.head()
data2017.shape

(155, 12)

In [4]:
data2016.head()
data2016.shape

(157, 13)

In [5]:
data2015.head()
data2015.shape

(158, 12)

In [6]:
data2015.columns

Index(['Country', 'Region', 'Happiness Rank', 'Happiness Score',
       'Standard Error', 'Economy (GDP per Capita)', 'Family',
       'Health (Life Expectancy)', 'Freedom', 'Trust (Government Corruption)',
       'Generosity', 'Dystopia Residual'],
      dtype='object')

In [7]:
data2016.columns

Index(['Country', 'Region', 'Happiness Rank', 'Happiness Score',
       'Lower Confidence Interval', 'Upper Confidence Interval',
       'Economy (GDP per Capita)', 'Family', 'Health (Life Expectancy)',
       'Freedom', 'Trust (Government Corruption)', 'Generosity',
       'Dystopia Residual'],
      dtype='object')

In [8]:
data2017.columns

Index(['Country', 'Happiness.Rank', 'Happiness.Score', 'Whisker.high',
       'Whisker.low', 'Economy..GDP.per.Capita.', 'Family',
       'Health..Life.Expectancy.', 'Freedom', 'Generosity',
       'Trust..Government.Corruption.', 'Dystopia.Residual'],
      dtype='object')

In [9]:
del data2015['Standard Error']
print(data2015.shape)
data2015.head()

(158, 11)

,Country,Region,Happiness Rank,Happiness Score,Economy (GDP per Capita),Family,Health (Life Expectancy),Freedom,Trust (Government Corruption),Generosity,Dystopia Residual
0,Switzerland,Western Europe,1,7.587,1.39651,1.34951,0.94143,0.66557,0.41978,0.29678,2.51738
1,Iceland,Western Europe,2,7.561,1.30232,1.40223,0.94784,0.62877,0.14145,0.43630,2.70201
2,Denmark,Western Europe,3,7.527,1.32548,1.36058,0.87464,0.64938,0.48357,0.34139,2.49204
3,Norway,Western Europe,4,7.522,1.45900,1.33095,0.88521,0.66973,0.36503,0.34699,2.46531
4,Canada,North America,5,7.427,1.32629,1.32261,0.90563,0.63297,0.32957,0.45811,2.45176

In [ ]:
# del data2016['Lower Confidence Interval']
# del data2016['Upper Confidence Interval']
print(data2016.shape)
data2016.tail()

In [ ]:
del data2017['Whisker.high']
del data2017['Whisker.low']
print(data2017.shape)
data2017.head()

In [ ]:
countryDF = data2016.loc[:,'Country':'Region']
countryDF.head()

In [ ]:
out = (countryDF.merge(data2017, left_on='Country', right_on='Country').reindex(columns=['Country', 'Region','Happiness.Rank', 'Happiness.Score','Economy..GDP.per.Capita.', 'Family',
       'Health..Life.Expectancy.', 'Freedom', 'Generosity',
       'Trust..Government.Corruption.', 'Dystopia.Residual']))

In [ ]:
out.head()

In [ ]:
out.columns.value_counts().sum()

In [ ]:
out.sort_values(by='Happiness.Rank', ascending=True, inplace=True)

In [ ]:
out = out.reset_index()

In [ ]:
del out['index']

In [ ]:
data2017.tail()

In [ ]:
out.head()

In [ ]:
data2017 = out

In [ ]:
data2017.tail()

In [ ]:
data2015.columns

In [ ]:
data2015.rename(index=str, columns={"Happiness Rank":"Happiness_Rank", "Happiness Score":"Happiness_Score", "Economy (GDP per Capita)":"Economy", "Health (Life Expectancy)":"Life_Expectancy", "Trust (Government Corruption)":"Government_Corruption", "Dystopia Residual": "Dystopia_Residual"}, inplace=True)

In [ ]:
data2015.head()

In [ ]:
data2016.columns

In [ ]:
data2016.rename(index=str, columns={"Happiness Rank":"Happiness_Rank", "Happiness Score":"Happiness_Score", "Economy (GDP per Capita)":"Economy", "Health (Life Expectancy)":"Life_Expectancy", "Trust (Government Corruption)":"Government_Corruption", "Dystopia Residual": "Dystopia_Residual"}, inplace=True)

In [ ]:
data2016.head()

In [ ]:
data2017.columns

In [ ]:
data2017.rename(index=str, columns={"Happiness.Rank":"Happiness_Rank", "Happiness.Score":"Happiness_Score", "Economy..GDP.per.Capita.":"Economy", "Health..Life.Expectancy.":"Life_Expectancy", "Trust..Government.Corruption.":"Government_Corruption", "Dystopia.Residual": "Dystopia_Residual"}, inplace=True)

In [ ]:
data2017.head()

In [ ]:
# data2017['Region'].isnull().value_counts()
data2017['Region'].notnull().value_counts()

In [ ]:
data2016['Region'].isnull().value_counts()

In [ ]:
data2015['Region'].isnull().value_counts()

In [ ]:
# 1. Contains in 15 but not in 16
df2016_2015 = pd.concat([data2015['Country'],data2016['Country']]).drop_duplicates(keep=False)
print(df2016_2015)

# Same as

# 2. Contains in 16 but not in 15
# dfNotin2015_2016 = pd.concat([data2016['Country'],data2015['Country']]).drop_duplicates(keep=False)
# print(dfNotin2015_2016)

In [ ]:
df2016_2015 = df2016_2015.tolist() 
print(df2016_2015)

In [ ]:
availableIn2016butNotin2015 = pd.DataFrame()
availableIn2015butNotin2016 = pd.DataFrame()

In [ ]:
for i in range(len(df2016_2015)):
    if(df2016_2015[i] in data2015['Country'].values):
        availableIn2015butNotin2016 = availableIn2015butNotin2016.append(data2015[data2015['Country']==df2016_2015[i]])
        print(df2016_2015[i] + ' available in 2015 but not in 2016')
    elif(df2016_2015[i] in data2016['Country'].values):
        availableIn2016butNotin2015 = availableIn2016butNotin2015.append(data2016[data2016['Country']==df2016_2015[i]])
        print(df2016_2015[i] + ' available in 2016 but not in 2015')

In [ ]:
# Add missing values in 2015
# print(data2015.shape)
# data2015 = pd.concat([data2015,availableIn2016butNotin2015])
# data2015.reset_index()
# print(data2015.shape)

In [ ]:
# data2015.reset_index(drop=True, inplace=True)

In [ ]:
# print(data2016.shape)
# data2016 = pd.concat([data2016,availableIn2015butNotin2016])
# data2016.reset_index()
# print(data2016.shape)

In [ ]:
# data2016.reset_index(inplace=True, drop=True)

In [ ]:
# # 3. Contains in 17 but not in 15
# df2015_2017 = pd.concat([data2017['Country'],data2015['Country']]).drop_duplicates(keep=False)
# print(df2015_2017)

# # Same

# # 4. Contains in 15 but not in 17
# # dfNotin2017_2015 = pd.concat([data2015['Country'],data2017['Country']]).drop_duplicates(keep=False)
# # print(dfNotin2017_2015.shape)

In [ ]:
# df2015_2017 = df2015_2017.tolist()
# print(df2015_2017)

In [ ]:
# availableIn2017butNotin2017 = pd.DataFrame()
# availableIn2017butNotin2015 = pd.DataFrame()

In [ ]:
# # 5. Contains in 16 but not in 17
# df2017_2016 = pd.concat([data2016['Country'],data2017['Country']]).drop_duplicates(keep=False)
# print(df2017_2016)

# # Same

# # 6. Contains in 17 but not in 16
# # dfNotin2016_2017 = pd.concat([data2017['Country'],data2016['Country']]).drop_duplicates(keep=False)
# # print(dfNotin2016_2017.shape)

In [ ]:
# check15_16_17 = pd.concat([data2016['Country'],data2017['Country'], data2015['Country']]).drop_duplicates(keep=False)

In [ ]:
# check15_16_17

In [ ]:
# dfNotin2017_2015 = dfNotin2017_2015.tolist()

In [ ]:
# dfNotin2017_2015

In [ ]:
# dfNotin2016_2015 = dfNotin2016_2015.tolist()

In [ ]:
# dfNotin2016_2015

In [ ]:
# data2015[data2015['Country']=='Oman']

In [ ]:
# newDataframedfNotin2017_2015 = pd.DataFrame()

In [ ]:
# for i in range(len(dfNotin2017_2015)):
#     if(dfNotin2017_2015[i] in data2015['Country'].values):
#         newDataframedfNotin2017_2015 = newDataframedfNotin2017_2015.append(data2015[data2015['Country']==dfNotin2017_2015[i]])
#     else:
#         print(dfNotin2017_2015[i])

In [ ]:
# newDataframedfNotin2017_2015

In [ ]:
# newDataframedfNotin2016_2015 = pd.DataFrame()

In [ ]:
# for i in range(len(dfNotin2016_2015)):
#     if(dfNotin2016_2015[i] in data2015['Country'].values):
# #         newDataframedfNotin2017_2015 = data2015[data2015['Country']==dfNotin2016_2015[i]]
#         newDataframedfNotin2016_2015 = newDataframedfNotin2016_2015.append(data2015[data2015['Country']==dfNotin2016_2015[i]])
#     else:
#         print(dfNotin2016_2015[i])

In [ ]:
# newDataframedfNotin2016_2015