The object of this project is to find out what features is important to live a happy life. So we can focus on more important stuff. Also predict the happiness score and compare the result to discover which algorithm works better.

## IMPORTS

In [133]:
import pandas as pd
import numpy as np
import plotly
from bubbly.bubbly import bubbleplot

## Cleaning

In [134]:
data2017 = pd.read_csv('./world-happiness-report/2017.csv')
data2016 = pd.read_csv('./world-happiness-report/2016.csv')
data2015 = pd.read_csv('./world-happiness-report/2015.csv')

In [135]:
data2017.head()
data2017.shape

(155, 12)

In [136]:
data2016.head()
data2016.shape

(157, 13)

In [137]:
data2015.head()
data2015.shape

(158, 12)

In [138]:
data2015.columns

Index(['Country', 'Region', 'Happiness Rank', 'Happiness Score',
       'Standard Error', 'Economy (GDP per Capita)', 'Family',
       'Health (Life Expectancy)', 'Freedom', 'Trust (Government Corruption)',
       'Generosity', 'Dystopia Residual'],
      dtype='object')

In [139]:
data2016.columns

Index(['Country', 'Region', 'Happiness Rank', 'Happiness Score',
       'Lower Confidence Interval', 'Upper Confidence Interval',
       'Economy (GDP per Capita)', 'Family', 'Health (Life Expectancy)',
       'Freedom', 'Trust (Government Corruption)', 'Generosity',
       'Dystopia Residual'],
      dtype='object')

In [140]:
data2017.columns

Index(['Country', 'Happiness.Rank', 'Happiness.Score', 'Whisker.high',
       'Whisker.low', 'Economy..GDP.per.Capita.', 'Family',
       'Health..Life.Expectancy.', 'Freedom', 'Generosity',
       'Trust..Government.Corruption.', 'Dystopia.Residual'],
      dtype='object')

In [141]:
del data2015['Standard Error']
print(data2015.shape)
data2015.head()

(158, 11)

,Country,Region,Happiness Rank,Happiness Score,Economy (GDP per Capita),Family,Health (Life Expectancy),Freedom,Trust (Government Corruption),Generosity,Dystopia Residual
0,Switzerland,Western Europe,1,7.587,1.39651,1.34951,0.94143,0.66557,0.41978,0.29678,2.51738
1,Iceland,Western Europe,2,7.561,1.30232,1.40223,0.94784,0.62877,0.14145,0.43630,2.70201
2,Denmark,Western Europe,3,7.527,1.32548,1.36058,0.87464,0.64938,0.48357,0.34139,2.49204
3,Norway,Western Europe,4,7.522,1.45900,1.33095,0.88521,0.66973,0.36503,0.34699,2.46531
4,Canada,North America,5,7.427,1.32629,1.32261,0.90563,0.63297,0.32957,0.45811,2.45176

In [142]:
# del data2016['Lower Confidence Interval']
# del data2016['Upper Confidence Interval']
print(data2016.shape)
data2016.tail()

(157, 13)

,Country,Region,Happiness Rank,Happiness Score,Lower Confidence Interval,Upper Confidence Interval,Economy (GDP per Capita),Family,Health (Life Expectancy),Freedom,Trust (Government Corruption),Generosity,Dystopia Residual
152,Benin,Sub-Saharan Africa,153,3.484,3.404,3.564,0.39499,0.10419,0.21028,0.39747,0.06681,0.20180,2.10812
153,Afghanistan,Southern Asia,154,3.360,3.288,3.432,0.38227,0.11037,0.17344,0.16430,0.07112,0.31268,2.14558
154,Togo,Sub-Saharan Africa,155,3.303,3.192,3.414,0.28123,0.00000,0.24811,0.34678,0.11587,0.17517,2.13540
155,Syria,Middle East and Northern Africa,156,3.069,2.936,3.202,0.74719,0.14866,0.62994,0.06912,0.17233,0.48397,0.81789
156,Burundi,Sub-Saharan Africa,157,2.905,2.732,3.078,0.06831,0.23442,0.15747,0.04320,0.09419,0.20290,2.10404

In [143]:
del data2017['Whisker.high']
del data2017['Whisker.low']
print(data2017.shape)
data2017.head()

(155, 10)

,Country,Happiness.Rank,Happiness.Score,Economy..GDP.per.Capita.,Family,Health..Life.Expectancy.,Freedom,Generosity,Trust..Government.Corruption.,Dystopia.Residual
0,Norway,1,7.537,1.616463,1.533524,0.796667,0.635423,0.362012,0.315964,2.277027
1,Denmark,2,7.522,1.482383,1.551122,0.792566,0.626007,0.355280,0.400770,2.313707
2,Iceland,3,7.504,1.480633,1.610574,0.833552,0.627163,0.475540,0.153527,2.322715
3,Switzerland,4,7.494,1.564980,1.516912,0.858131,0.620071,0.290549,0.367007,2.276716
4,Finland,5,7.469,1.443572,1.540247,0.809158,0.617951,0.245483,0.382612,2.430182

In [144]:
countryDF = data2016.loc[:,'Country':'Region']
countryDF.head()

       Country          Region
0      Denmark  Western Europe
1  Switzerland  Western Europe
2      Iceland  Western Europe
3       Norway  Western Europe
4      Finland  Western Europe

In [145]:
out = (countryDF.merge(data2017, left_on='Country', right_on='Country').reindex(columns=['Country', 'Region','Happiness.Rank', 'Happiness.Score','Economy..GDP.per.Capita.', 'Family',
       'Health..Life.Expectancy.', 'Freedom', 'Generosity',
       'Trust..Government.Corruption.', 'Dystopia.Residual']))

In [146]:
out.head()

,Country,Region,Happiness.Rank,Happiness.Score,Economy..GDP.per.Capita.,Family,Health..Life.Expectancy.,Freedom,Generosity,Trust..Government.Corruption.,Dystopia.Residual
0,Denmark,Western Europe,2,7.522,1.482383,1.551122,0.792566,0.626007,0.355280,0.400770,2.313707
1,Switzerland,Western Europe,4,7.494,1.564980,1.516912,0.858131,0.620071,0.290549,0.367007,2.276716
2,Iceland,Western Europe,3,7.504,1.480633,1.610574,0.833552,0.627163,0.475540,0.153527,2.322715
3,Norway,Western Europe,1,7.537,1.616463,1.533524,0.796667,0.635423,0.362012,0.315964,2.277027
4,Finland,Western Europe,5,7.469,1.443572,1.540247,0.809158,0.617951,0.245483,0.382612,2.430182

In [147]:
out.columns.value_counts().sum()

11

In [148]:
out.sort_values(by='Happiness.Rank', ascending=True, inplace=True)

In [149]:
out = out.reset_index()

In [150]:
del out['index']

In [151]:
data2017.tail()

,Country,Happiness.Rank,Happiness.Score,Economy..GDP.per.Capita.,Family,Health..Life.Expectancy.,Freedom,Generosity,Trust..Government.Corruption.,Dystopia.Residual
150,Rwanda,151,3.471,0.368746,0.945707,0.326425,0.581844,0.252756,0.455220,0.540061
151,Syria,152,3.462,0.777153,0.396103,0.500533,0.081539,0.493664,0.151347,1.061574
152,Tanzania,153,3.349,0.511136,1.041990,0.364509,0.390018,0.354256,0.066035,0.621130
153,Burundi,154,2.905,0.091623,0.629794,0.151611,0.059901,0.204435,0.084148,1.683024
154,Central African Republic,155,2.693,0.000000,0.000000,0.018773,0.270842,0.280876,0.056565,2.066005

In [152]:
out.head()

,Country,Region,Happiness.Rank,Happiness.Score,Economy..GDP.per.Capita.,Family,Health..Life.Expectancy.,Freedom,Generosity,Trust..Government.Corruption.,Dystopia.Residual
0,Norway,Western Europe,1,7.537,1.616463,1.533524,0.796667,0.635423,0.362012,0.315964,2.277027
1,Denmark,Western Europe,2,7.522,1.482383,1.551122,0.792566,0.626007,0.355280,0.400770,2.313707
2,Iceland,Western Europe,3,7.504,1.480633,1.610574,0.833552,0.627163,0.475540,0.153527,2.322715
3,Switzerland,Western Europe,4,7.494,1.564980,1.516912,0.858131,0.620071,0.290549,0.367007,2.276716
4,Finland,Western Europe,5,7.469,1.443572,1.540247,0.809158,0.617951,0.245483,0.382612,2.430182

In [153]:
data2017 = out

In [154]:
data2017.tail()

,Country,Region,Happiness.Rank,Happiness.Score,Economy..GDP.per.Capita.,Family,Health..Life.Expectancy.,Freedom,Generosity,Trust..Government.Corruption.,Dystopia.Residual
145,Togo,Sub-Saharan Africa,150,3.495,0.305445,0.431883,0.247106,0.380426,0.196896,0.095665,1.837229
146,Rwanda,Sub-Saharan Africa,151,3.471,0.368746,0.945707,0.326425,0.581844,0.252756,0.455220,0.540061
147,Syria,Middle East and Northern Africa,152,3.462,0.777153,0.396103,0.500533,0.081539,0.493664,0.151347,1.061574
148,Tanzania,Sub-Saharan Africa,153,3.349,0.511136,1.041990,0.364509,0.390018,0.354256,0.066035,0.621130
149,Burundi,Sub-Saharan Africa,154,2.905,0.091623,0.629794,0.151611,0.059901,0.204435,0.084148,1.683024

In [155]:
data2015.columns

Index(['Country', 'Region', 'Happiness Rank', 'Happiness Score',
       'Economy (GDP per Capita)', 'Family', 'Health (Life Expectancy)',
       'Freedom', 'Trust (Government Corruption)', 'Generosity',
       'Dystopia Residual'],
      dtype='object')

In [156]:
data2015.rename(index=str, columns={"Happiness Rank":"Happiness_Rank", "Happiness Score":"Happiness_Score", "Economy (GDP per Capita)":"Economy", "Health (Life Expectancy)":"Life_Expectancy", "Trust (Government Corruption)":"Government_Corruption", "Dystopia Residual": "Dystopia_Residual"}, inplace=True)

In [157]:
data2015.head()

,Country,Region,Happiness_Rank,Happiness_Score,Economy,Family,Life_Expectancy,Freedom,Government_Corruption,Generosity,Dystopia_Residual
0,Switzerland,Western Europe,1,7.587,1.39651,1.34951,0.94143,0.66557,0.41978,0.29678,2.51738
1,Iceland,Western Europe,2,7.561,1.30232,1.40223,0.94784,0.62877,0.14145,0.43630,2.70201
2,Denmark,Western Europe,3,7.527,1.32548,1.36058,0.87464,0.64938,0.48357,0.34139,2.49204
3,Norway,Western Europe,4,7.522,1.45900,1.33095,0.88521,0.66973,0.36503,0.34699,2.46531
4,Canada,North America,5,7.427,1.32629,1.32261,0.90563,0.63297,0.32957,0.45811,2.45176

In [158]:
data2016.columns

Index(['Country', 'Region', 'Happiness Rank', 'Happiness Score',
       'Lower Confidence Interval', 'Upper Confidence Interval',
       'Economy (GDP per Capita)', 'Family', 'Health (Life Expectancy)',
       'Freedom', 'Trust (Government Corruption)', 'Generosity',
       'Dystopia Residual'],
      dtype='object')

In [159]:
data2016.rename(index=str, columns={"Happiness Rank":"Happiness_Rank", "Happiness Score":"Happiness_Score", "Economy (GDP per Capita)":"Economy", "Health (Life Expectancy)":"Life_Expectancy", "Trust (Government Corruption)":"Government_Corruption", "Dystopia Residual": "Dystopia_Residual"}, inplace=True)

In [160]:
data2016.head()

,Country,Region,Happiness_Rank,Happiness_Score,Lower Confidence Interval,Upper Confidence Interval,Economy,Family,Life_Expectancy,Freedom,Government_Corruption,Generosity,Dystopia_Residual
0,Denmark,Western Europe,1,7.526,7.460,7.592,1.44178,1.16374,0.79504,0.57941,0.44453,0.36171,2.73939
1,Switzerland,Western Europe,2,7.509,7.428,7.590,1.52733,1.14524,0.86303,0.58557,0.41203,0.28083,2.69463
2,Iceland,Western Europe,3,7.501,7.333,7.669,1.42666,1.18326,0.86733,0.56624,0.14975,0.47678,2.83137
3,Norway,Western Europe,4,7.498,7.421,7.575,1.57744,1.12690,0.79579,0.59609,0.35776,0.37895,2.66465
4,Finland,Western Europe,5,7.413,7.351,7.475,1.40598,1.13464,0.81091,0.57104,0.41004,0.25492,2.82596

In [161]:
data2017.columns

Index(['Country', 'Region', 'Happiness.Rank', 'Happiness.Score',
       'Economy..GDP.per.Capita.', 'Family', 'Health..Life.Expectancy.',
       'Freedom', 'Generosity', 'Trust..Government.Corruption.',
       'Dystopia.Residual'],
      dtype='object')

In [162]:
data2017.rename(index=str, columns={"Happiness.Rank":"Happiness_Rank", "Happiness.Score":"Happiness_Score", "Economy..GDP.per.Capita.":"Economy", "Health..Life.Expectancy.":"Life_Expectancy", "Trust..Government.Corruption.":"Government_Corruption", "Dystopia.Residual": "Dystopia_Residual"}, inplace=True)

In [163]:
data2017.head()

,Country,Region,Happiness_Rank,Happiness_Score,Economy,Family,Life_Expectancy,Freedom,Generosity,Government_Corruption,Dystopia_Residual
0,Norway,Western Europe,1,7.537,1.616463,1.533524,0.796667,0.635423,0.362012,0.315964,2.277027
1,Denmark,Western Europe,2,7.522,1.482383,1.551122,0.792566,0.626007,0.355280,0.400770,2.313707
2,Iceland,Western Europe,3,7.504,1.480633,1.610574,0.833552,0.627163,0.475540,0.153527,2.322715
3,Switzerland,Western Europe,4,7.494,1.564980,1.516912,0.858131,0.620071,0.290549,0.367007,2.276716
4,Finland,Western Europe,5,7.469,1.443572,1.540247,0.809158,0.617951,0.245483,0.382612,2.430182

In [164]:
# data2017['Region'].isnull().value_counts()
data2017['Region'].notnull().value_counts()

True    150
Name: Region, dtype: int64

In [165]:
data2016['Region'].isnull().value_counts()

False    157
Name: Region, dtype: int64

In [166]:
data2015['Region'].isnull().value_counts()

False    158
Name: Region, dtype: int64

In [167]:
# 1. Contains in 15 but not in 16
df2016_2015 = pd.concat([data2015['Country'],data2016['Country']]).drop_duplicates(keep=False)
print(df2016_2015)

# Same as

# 2. Contains in 16 but not in 15
# dfNotin2015_2016 = pd.concat([data2016['Country'],data2015['Country']]).drop_duplicates(keep=False)
# print(dfNotin2015_2016)

21                         Oman
90            Somaliland region
93                   Mozambique
96                      Lesotho
100                   Swaziland
125                    Djibouti
147    Central African Republic
14                  Puerto Rico
51                       Belize
75                      Somalia
96            Somaliland Region
112                     Namibia
142                 South Sudan
Name: Country, dtype: object

In [168]:
df2016_2015 = df2016_2015.tolist() 
print(df2016_2015)

['Oman', 'Somaliland region', 'Mozambique', 'Lesotho', 'Swaziland', 'Djibouti', 'Central African Republic', 'Puerto Rico', 'Belize', 'Somalia', 'Somaliland Region', 'Namibia', 'South Sudan']

In [169]:
availableIn2016butNotin2015 = pd.DataFrame()
availableIn2015butNotin2016 = pd.DataFrame()

In [170]:
for i in range(len(df2016_2015)):
    if(df2016_2015[i] in data2015['Country'].values):
        availableIn2015butNotin2016 = availableIn2015butNotin2016.append(data2015[data2015['Country']==df2016_2015[i]])
        print(df2016_2015[i] + ' available in 2015')
    elif(df2016_2015[i] in data2016['Country'].values):
        availableIn2016butNotin2015 = availableIn2016butNotin2015.append(data2016[data2016['Country']==df2016_2015[i]])
        print(df2016_2015[i] + ' available in 2016')

Oman available in 2015
Somaliland region available in 2015
Mozambique available in 2015
Lesotho available in 2015
Swaziland available in 2015
Djibouti available in 2015
Central African Republic available in 2015
Puerto Rico available in 2016
Belize available in 2016
Somalia available in 2016
Somaliland Region available in 2016
Namibia available in 2016
South Sudan available in 2016

In [171]:
# Add missing values in 2015
print(data2015.shape)
data2015 = pd.concat([data2015,availableIn2016butNotin2015])
data2015.reset_index()
print(data2015.shape)

(158, 11)
(164, 13)

/home/debadatta/opt/lib/python3.6/site-packages/ipykernel_launcher.py:3: FutureWarning:

Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=True'.

To retain the current behavior and silence the warning, pass sort=False

In [179]:
data2015.reset_index(drop=True, inplace=True)

In [172]:
print(data2016.shape)
data2016 = pd.concat([data2016,availableIn2015butNotin2016])
data2016.reset_index()
print(data2016.shape)

(157, 13)
(164, 13)

/home/debadatta/opt/lib/python3.6/site-packages/ipykernel_launcher.py:2: FutureWarning:

Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=True'.

To retain the current behavior and silence the warning, pass sort=False

In [180]:
data2016.reset_index(inplace=True, drop=True)

In [113]:
# 3. Contains in 17 but not in 15
df2015_2017 = pd.concat([data2017['Country'],data2015['Country']]).drop_duplicates(keep=False)
print(df2015_2017)

# Same

# 4. Contains in 15 but not in 17
# dfNotin2017_2015 = pd.concat([data2015['Country'],data2017['Country']]).drop_duplicates(keep=False)
# print(dfNotin2017_2015.shape)

48                       Belize
90                      Somalia
108                     Namibia
142                 South Sudan
21                         Oman
37                       Taiwan
39                     Suriname
71                    Hong Kong
90            Somaliland region
93                   Mozambique
96                      Lesotho
98                         Laos
100                   Swaziland
125                    Djibouti
139                     Comoros
147    Central African Republic
Name: Country, dtype: object

In [182]:
df2015_2017 = df2015_2017.tolist()
print(df2015_2017)

['Belize', 'Somalia', 'Namibia', 'South Sudan', 'Oman', 'Taiwan', 'Suriname', 'Hong Kong', 'Somaliland region', 'Mozambique', 'Lesotho', 'Laos', 'Swaziland', 'Djibouti', 'Comoros', 'Central African Republic']

In [181]:
availableIn2017butNotin2017 = pd.DataFrame()
availableIn2017butNotin2015 = pd.DataFrame()

In [114]:
# 5. Contains in 16 but not in 17
df2017_2016 = pd.concat([data2016['Country'],data2017['Country']]).drop_duplicates(keep=False)
print(df2017_2016)

# Same

# 6. Contains in 17 but not in 16
# dfNotin2016_2017 = pd.concat([data2017['Country'],data2016['Country']]).drop_duplicates(keep=False)
# print(dfNotin2016_2017.shape)

14           Puerto Rico
34                Taiwan
39              Suriname
74             Hong Kong
96     Somaliland Region
101                 Laos
137              Comoros
Name: Country, dtype: object

In [110]:
check15_16_17 = pd.concat([data2016['Country'],data2017['Country'], data2015['Country']]).drop_duplicates(keep=False)

In [111]:
check15_16_17

14                  Puerto Rico
96            Somaliland Region
21                         Oman
90            Somaliland region
93                   Mozambique
96                      Lesotho
100                   Swaziland
125                    Djibouti
147    Central African Republic
Name: Country, dtype: object

In [49]:
dfNotin2017_2015 = dfNotin2017_2015.tolist()

In [50]:
dfNotin2017_2015

['Oman',
 'Taiwan',
 'Suriname',
 'Hong Kong',
 'Somaliland region',
 'Mozambique',
 'Lesotho',
 'Laos',
 'Swaziland',
 'Djibouti',
 'Comoros',
 'Central African Republic',
 'Belize',
 'Somalia',
 'Namibia',
 'South Sudan']

In [54]:
dfNotin2016_2015 = dfNotin2016_2015.tolist()

In [55]:
dfNotin2016_2015

['Oman',
 'Somaliland region',
 'Mozambique',
 'Lesotho',
 'Swaziland',
 'Djibouti',
 'Central African Republic',
 'Puerto Rico',
 'Belize',
 'Somalia',
 'Somaliland Region',
 'Namibia',
 'South Sudan']

In [40]:
data2015[data2015['Country']=='Oman']

,Country,Region,Happiness_Rank,Happiness_Score,Economy,Family,Life_Expectancy,Freedom,Government_Corruption,Generosity,Dystopia_Residual
21,Oman,Middle East and Northern Africa,22,6.853,1.36011,1.08182,0.76276,0.63274,0.32524,0.21542,2.47489

In [71]:
newDataframedfNotin2017_2015 = pd.DataFrame()

In [72]:
for i in range(len(dfNotin2017_2015)):
    if(dfNotin2017_2015[i] in data2015['Country'].values):
        newDataframedfNotin2017_2015 = newDataframedfNotin2017_2015.append(data2015[data2015['Country']==dfNotin2017_2015[i]])
    else:
        print(dfNotin2017_2015[i])

Belize
Somalia
Namibia
South Sudan

In [73]:
newDataframedfNotin2017_2015

,Country,Region,Happiness_Rank,Happiness_Score,Economy,Family,Life_Expectancy,Freedom,Government_Corruption,Generosity,Dystopia_Residual
21,Oman,Middle East and Northern Africa,22,6.853,1.36011,1.08182,0.76276,0.63274,0.32524,0.21542,2.47489
37,Taiwan,Eastern Asia,38,6.298,1.29098,1.07617,0.87530,0.39740,0.08129,0.25376,2.32323
39,Suriname,Latin America and Caribbean,40,6.269,0.99534,0.97200,0.60820,0.59657,0.13633,0.16991,2.79094
71,Hong Kong,Eastern Asia,72,5.474,1.38604,1.05818,1.01328,0.59608,0.37124,0.39478,0.65429
90,Somaliland region,Sub-Saharan Africa,91,5.057,0.18847,0.95152,0.43873,0.46582,0.39928,0.50318,2.11032
93,Mozambique,Sub-Saharan Africa,94,4.971,0.08308,1.02626,0.09131,0.34037,0.15603,0.22269,3.05137
96,Lesotho,Sub-Saharan Africa,97,4.898,0.37545,1.04103,0.07612,0.31767,0.12504,0.16388,2.79832
98,Laos,Southeastern Asia,99,4.876,0.59066,0.73803,0.54909,0.59591,0.24249,0.42192,1.73799
100,Swaziland,Sub-Saharan Africa,101,4.867,0.71206,1.07284,0.07566,0.30658,0.03060,0.18259,2.48676
125,Djibouti,Sub-Saharan Africa,126,4.369,0.44025,0.59207,0.36291,0.46074,0.28105,0.18093,2.05125
139,Comoros,Sub-Saharan Africa,140,3.956,0.23906,0.79273,0.36315,0.22917,0.19900,0.17441,1.95812
147,Central African Republic,Sub-Saharan Africa,148,3.678,0.07850,0.00000,0.06699,0.48879,0.08289,0.23835,2.72230

In [58]:
newDataframedfNotin2016_2015 = pd.DataFrame()

In [69]:
for i in range(len(dfNotin2016_2015)):
    if(dfNotin2016_2015[i] in data2015['Country'].values):
#         newDataframedfNotin2017_2015 = data2015[data2015['Country']==dfNotin2016_2015[i]]
        newDataframedfNotin2016_2015 = newDataframedfNotin2016_2015.append(data2015[data2015['Country']==dfNotin2016_2015[i]])
    else:
        print(dfNotin2016_2015[i])

Puerto Rico
Belize
Somalia
Somaliland Region
Namibia
South Sudan

In [70]:
newDataframedfNotin2016_2015

,Country,Region,Happiness_Rank,Happiness_Score,Economy,Family,Life_Expectancy,Freedom,Government_Corruption,Generosity,Dystopia_Residual
21,Oman,Middle East and Northern Africa,22,6.853,1.36011,1.08182,0.76276,0.63274,0.32524,0.21542,2.47489
90,Somaliland region,Sub-Saharan Africa,91,5.057,0.18847,0.95152,0.43873,0.46582,0.39928,0.50318,2.11032
93,Mozambique,Sub-Saharan Africa,94,4.971,0.08308,1.02626,0.09131,0.34037,0.15603,0.22269,3.05137
96,Lesotho,Sub-Saharan Africa,97,4.898,0.37545,1.04103,0.07612,0.31767,0.12504,0.16388,2.79832
100,Swaziland,Sub-Saharan Africa,101,4.867,0.71206,1.07284,0.07566,0.30658,0.03060,0.18259,2.48676
125,Djibouti,Sub-Saharan Africa,126,4.369,0.44025,0.59207,0.36291,0.46074,0.28105,0.18093,2.05125
147,Central African Republic,Sub-Saharan Africa,148,3.678,0.07850,0.00000,0.06699,0.48879,0.08289,0.23835,2.72230